Source: pwngrid
Section: golang
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: TODO <TODO>,
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
               dh-sequence-golang,
               golang-any,
               golang-github-evilsocket-islazy-dev,
               golang-github-go-chi-chi-dev,
               golang-github-go-chi-cors-dev,
               golang-github-golang-jwt-jwt-v5-dev,
               golang-github-gopacket-gopacket-dev,
               golang-github-jinzhu-gorm-dev,
               golang-github-joho-godotenv-dev,
               golang-github-biezhi-gorm-paginator-dev,
Testsuite: autopkgtest-pkg-go
Standards-Version: 4.7.0
Vcs-Browser: https://salsa.debian.org/go-team/packages/pwngrid
Vcs-Git: https://salsa.debian.org/go-team/packages/pwngrid.git
Homepage: https://github.com/jayofelony/pwngrid
XS-Go-Import-Path: github.com/jayofelony/pwngrid

Package: pwngrid
Section: TODO
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Static-Built-Using: ${misc:Static-Built-Using}
Description: API server for pwnagotchi.ai (program)
 PwnGRID
 .
 This is the source code of the API server for https://pwnagotchi.ai/
 (https://pwnagotchi.ai/)

