Source: golang-github-biezhi-gorm-paginator
Section: golang
Priority: optional
Maintainer: Skye Soss <skyler.soss@gmail.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
               dh-sequence-golang,
               golang-any,
               golang-github-gin-gonic-gin-dev,
Testsuite: autopkgtest-pkg-go
Standards-Version: 4.7.0
Vcs-Browser: https://github.com/biezhi/gorm-paginator
Vcs-Git: https://github.com/biezhi/gorm-paginator.git
Homepage: https://github.com/biezhi/gorm-paginator
XS-Go-Import-Path: github.com/biezhi/gorm-paginator

Package: golang-github-biezhi-gorm-paginator-dev
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: gorm pagination extension (library)
 gorm-paginator
 .
 Paging utility for gorm
