on:
  workflow_dispatch: ~
  push:
    paths:
      - 'NixOS/**.nix'
      - '.github/workflows/build-nix.yml'

jobs:
  build-nix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v16
        with:
          name: skyenet
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build packages
        run: |
          nix build ./NixOS#ambient-ci          || echo "ERROR!"
          nix build ./NixOS#anemoi              || echo "ERROR!"
          nix build ./NixOS#cdash               || echo "ERROR!"
          nix build ./NixOS#networkmanager-clat || echo "ERROR!"
          nix build ./NixOS#porkbun-ddns        || echo "ERROR!"
          nix build ./NixOS#radicle-ci-ambient  || echo "ERROR!"
        # nix build ./NixOS#tubearchivist       || echo "ERROR!"
        # nix build ./NixOS#browsertrix-crawler || echo "ERROR!"
  build-nix-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v16
        with:
          name: skyenet
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build packages
        run: |
          nix build --print-build-logs ./NixOS#ambient-ci          || echo "ERROR!"
          nix build --print-build-logs ./NixOS#anemoi              || echo "ERROR!"
          nix build --print-build-logs ./NixOS#cdash               || echo "ERROR!"
          nix build --print-build-logs ./NixOS#porkbun-ddns        || echo "ERROR!"
          nix build --print-build-logs ./NixOS#radicle-ci-ambient  || echo "ERROR!"
