on:
  workflow_dispatch: ~
  push:
    paths:
      - 'NixOS/**.nix'
      - '.github/workflows/build-nix.yml'

jobs:
  build-nix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v16
        with:
          name: skyenet
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build packages
        run: |
          # These shouldn't trigger an action failure
          nix build --print-build-logs ./NixOS#anemoi       || echo "ERROR!"
          nix build --print-build-logs ./NixOS#ascsaver     || echo "ERROR!"
          nix build --print-build-logs ./NixOS#browsertrix-crawler || echo "ERROR!"
          nix build --print-build-logs ./NixOS#cdash        || echo "ERROR!"
          nix build --print-build-logs ./NixOS#networkmanager-clat || echo "ERROR!"
          nix build --print-build-logs ./NixOS#paperless-ai || echo "ERROR!"
          nix build --print-build-logs ./NixOS#porkbun-ddns || echo "ERROR!"
          nix build --print-build-logs ./NixOS#reddio       || echo "ERROR!"
          nix build --print-build-logs ./NixOS#romm         || echo "ERROR!"
          nix build --print-build-logs ./NixOS#sbuild       || echo "ERROR!"
          nix build --print-build-logs ./NixOS#tmux-notify  || echo "ERROR!"

          # These should
          nix build --print-build-logs ./NixOS#ambient-ci
          nix build --print-build-logs ./NixOS#barry
          nix build --print-build-logs ./NixOS#bencher
          nix build --print-build-logs ./NixOS#radicle-ci-ambient
          nix build --print-build-logs ./NixOS#radicle-woodpecker-addon
          nix build --print-build-logs ./NixOS#subplot
          nix build --print-build-logs ./NixOS#vmdb2

          # Linux exclusive
          nix build --print-build-logs ./NixOS#keylime
          nix build --print-build-logs ./NixOS#rust-keylime
          nix build --print-build-logs ./NixOS#rsbinder-aidl
          nix build --print-build-logs ./NixOS#rsbinder-tools
  build-nix-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v16
        with:
          name: skyenet
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build packages
        run: |
          # These shouldn't trigger an action failure
          nix build --print-build-logs ./NixOS#anemoi       || echo "ERROR!"
          nix build --print-build-logs ./NixOS#ascsaver     || echo "ERROR!"
          nix build --print-build-logs ./NixOS#browsertrix-crawler || echo "ERROR!"
          nix build --print-build-logs ./NixOS#cdash        || echo "ERROR!"
          nix build --print-build-logs ./NixOS#networkmanager-clat || echo "ERROR!"
          nix build --print-build-logs ./NixOS#paperless-ai || echo "ERROR!"
          nix build --print-build-logs ./NixOS#porkbun-ddns || echo "ERROR!"
          nix build --print-build-logs ./NixOS#reddio       || echo "ERROR!"
          nix build --print-build-logs ./NixOS#romm         || echo "ERROR!"
          nix build --print-build-logs ./NixOS#sbuild       || echo "ERROR!"
          nix build --print-build-logs ./NixOS#tmux-notify  || echo "ERROR!"

          # These should
          nix build --print-build-logs ./NixOS#ambient-ci
          nix build --print-build-logs ./NixOS#barry
          nix build --print-build-logs ./NixOS#bencher
          nix build --print-build-logs ./NixOS#radicle-ci-ambient
          nix build --print-build-logs ./NixOS#radicle-woodpecker-addon
          nix build --print-build-logs ./NixOS#subplot
          nix build --print-build-logs ./NixOS#vmdb2

