on:
  workflow_dispatch: ~
  push:
    paths:
      - 'NixOS/**.nix'
      - '.github/workflows/build-nix.yml'

jobs:
  build-nix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v14
        with:
          name: skyenet
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build Porkbun-DDNS
        run: |
          nix build ./NixOS#porkbun-ddns
      - name: Build recutils
        run: |
          nix build ./NixOS#recutils
      - name: Build anemoi
        run: |
          nix build ./NixOS#anemoi
      - name: Build ambient-ci
        run: |
          nix build ./NixOS#ambient-ci
      - name: Build radicle-ci-ambient
        run: |
          nix build ./NixOS#radicle-ci-ambient
      - name: Build CDash
        run: |
          nix build ./NixOS#cdash
      - name: Build NetworkManager-clat
        run: |
          nix build ./NixOS#networkmanager-clat
      # - name: Build Tube Archivist
      #   run: |
      #     nix build ./NixOS#tubearchivist
      # - name: Build Browsertrix Crawler
      #   run: |
      #     nix build ./NixOS#browsertrix-crawler
  build-nix-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v14
        with:
          name: skyenet
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build recutils
        run: |
          nix build ./NixOS#recutils
